{% load static %}
<!DOCTYPE html>
<html lang="pt-pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Login, EJZ Tecnologia, Busca, emprego">
    <meta name="description" content="Página de Login da EJZ Tecnologia">
    <title>EJZ Tecnologia - Login </title>
    <link rel="shortcut icon" href="{% static 'assets/images/logo/logo.png' %}" />
    <link href="{% static 'assets/vendors/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendors/bootstrap5/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/accounts/css/login.css' %}">

</head>

<body>
    <div class="row vh-100 g-0">
        <div class="col-lg-6 position-relative d-none d-lg-block">
            <img src="{% static 'assets/accounts/images/bg.jpg' %}" alt="Imagem de Fundo do Login na EJZ Tecnologia" class="bg-holder">
        </div>

        <div class="col-lg-6">
            <div class="row align-items-center justify-content-center h-100 g-0 px-4 px-sm-0">
                <div class="col col-sm-6 col-lg-7 col-xl-6">
                    <a href="#" class="d-flex justify-content-center mb-4">
                        <img src="{% static 'assets/images/logo/logo.png' %}" alt="Logotipo da EJZ Tecnologia" width="220">
                    </a>

                    <div class="text-center mb-5">
                        <h3 class="fw-bold">Faça o seu Login</h3>
                        <p class="text-secondary">Acesse a sua conta</p>
                    </div>

                    <!-- Links sociais -->
                    <button class="btn btn-lg btn-outline-secondary btn-outline-custom w-100 mb-3" disabled>
                        <i class="bi bi-google text-danger me-1 fs-6"></i>
                        Login com o Google
                    </button>
                    <button class="btn btn-lg btn-outline-secondary btn-outline-custom w-100" disabled>
                        <i class="bi bi-facebook text-primary me-1 fs-6 "></i>
                        Login com o Facebook
                    </button>
                    <!--/ End Links sociais -->


                    <!-- Divider -->
                    <div class="position-relative">
                        <hr class="text-secondary divider">
                        <div class="divider-content-center">Ou</div>
                    </div>
                    <!--/ End Divider -->

                    <!-- Form -->
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            {% include 'partials/_alerts.html' %}
                        </div>

                        {% for field in form.visible_fields %}
                        <div class="input-group mb-3">
                            <span class="input-group-text">
                                {% if field.name == 'email' %}
                                <i class="bi bi-envelope"></i>
                                {% else %}
                                <i class="bi bi-lock"></i>
                                {% endif %}
                            </span>
                            {{ field }}
                        </div>

                        {% endfor %}

                        <div class="input-group mb-3 d-flex justify-content-end">
                            <div>
                                <small><a href="{% url 'accounts:password-reset' %}">Esqueceu a senha?</a></small>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary btn-lg w-100 mb-3">Login</button>
                    </form>
                    <!--/ EndForm -->

                    <div class="text-center">
                        <small>
                            Não tem uma conta ainda?
                            <a href="{% url 'landing_page' %}" class="fw-bold">Registre-se</a>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'assets/vendors/bootstrap5/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>