{% load static %}
<!DOCTYPE html>
<html lang="pt-pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Recuperação, Senha, Palavra-passe, Password, Esqueceu, Nova Senha, Mudar,EJZ Tecnologia">
    <meta name="description" content="Recuperação de Credenciais esquecidos ou perdidas">
    <title>EJZ Tecnologia - Recuperação de Palavra-passe </title>
    <link rel="shortcut icon" href="{% static 'assets/images/logo/logo.png' %}" />
    <link href="{% static 'assets/vendors/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendors/bootstrap5/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/accounts/css/login.css' %}">

</head>

<body>
    <div class="row vh-100 g-0">
        <div class="col-lg-6 position-relative d-none d-lg-block">
            <img src="{% static 'assets/accounts/images/bg.jpg' %}" alt="Imagem de Fundo do Login na EJZ Tecnologia" class="bg-holder">
        </div>

        <div class="col-lg-6">
            <div class="row align-items-center justify-content-center h-100 g-0 px-4 px-sm-0">
                <div class="col col-sm-6 col-lg-7 col-xl-6">
                    <a href="#" class="d-flex justify-content-center mb-4">
                        <img src="{% static 'assets/images/logo/logo.png' %}" alt="Logotipo da EJZ Tecnologia" width="220">
                    </a>

                    <div class="text-center mb-5">
                        <h1 class="fw-bold h4">Altere já a sua palavra-passe</h1>
                        <!-- <p class="text-secondary"></p> -->
                    </div>


                    <!-- Divider -->
                    <div class="position-relative">
                        <hr class="text-secondary divider">
                        <div class="divider-content-center">(o-o)</div>
                    </div>
                    <!--/ End Divider -->

                    <!-- Form -->
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            {% include 'partials/_alerts.html' %}
                        </div>

                        {% for field in form.visible_fields %}
                        <div class="input-group mb-3">
                            <span class="input-group-text">
                                {% if field.name == 'email' %}
                                <i class="bi bi-person"></i>
                                {% else %}
                                <i class="bi bi-lock"></i>
                                {% endif %}
                            </span>
                            {{ field }}
                        </div>

                        {% endfor %}

                        <div class="input-group mb-3 d-flex justify-content-end">
                            <div>
                                <small><a href="{% url 'accounts:login' %}">Voltar ao Login</a></small>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary btn-lg w-100 mb-3">
                            <i class="bi bi-journal-arrow-down"></i>
                            Alterar palavra-passe
                        </button>
                    </form>
                    <!--/ EndForm -->

                    <div class="text-center">
                        <small>
                            Não tem uma conta ainda?
                            <a href="{% url 'landing_page' %}" class="fw-bold">Registre-se</a>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'assets/vendors/bootstrap5/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>