<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="pt-pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Tipo, Cadastro, Empresa, Conta Pessoal">
    <meta name="description" content="Seleção do tipo de conta, Pessoal ou Empresarial">
    <title>My Job - Tipo de Casdastro </title>

    <!-- <link href="{% static 'assets/vendors/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet"> -->
    <link href="assets/vendors/bootstrap5/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="{% static 'assets/accounts/css/signup.css' %}"> -->
    <link rel="stylesheet" href="assets/css/signup.css">

</head>

<body class="text-white">
    <header class="mb-auto d-flex w-100 p-3 mx-auto justify-content-evenly bg-dark">
        <h3 class=" mb-0">Cover</h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
            <a class="nav-link" href="#personal">Conta Pessoal</a>
            <a class="nav-link" href="#business">Conta Empresarial</a>
        </nav>
    </header>

    <div class="row" id="personal">
        <div class="col-6">
            <img src="assets/images/bg.jpg" alt="Imagem de Fundo" class="">
        </div>
        <div class="col-6">
            <div>
                <h1>Cover your page.</h1>
                <p class="lead">
                    Cover is a one-page template for building simple and beautiful home pages. Download, edit
                    the text, and add your own fullscreen background photo to make it your own.</p>
                <p class="lead">
                    <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
                </p>
            </div>
        </div>
    </div>

    <!-- <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column" id="business">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-start mb-0">Cover</h3>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                    <a class="nav-link" href="#">Features</a>
                    <a class="nav-link" href="#">Contact</a>
                </nav>
            </div>
        </header>

        <main class="px-3">
            

                <h1>Cover your page.</h1>
                <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit
                    the text, and add your own fullscreen background photo to make it your own.</p>
            <p class="lead">
                <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
            </p>
        </main>

        <footer class="mt-auto text-white-50">
            <p>Cover template for <a href="../../../../index.html" class="text-white">Bootstrap</a>, by <a
                    href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
        </footer>
    </div> -->
</body>
<!-- <body>
   <div class="wrapper">
        <img class="bg-image" src="assets/images/bg.jpg" alt="Imagem de Fundo">
        
   </div>
    <script src="assets/vendors/bootstrap5/js/bootstrap.bundle.min.js"></script>
</body> -->

</html>