{% load static %}
<!DOCTYPE html>
<html lang="pt-pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Cadastro, Empresarial, EJZ Tecnologia">
    <meta name="description" content="Criar conta empresarial">
    <title>EJZ Tecnologia - Cadastro Empresarial </title>

    <link rel="shortcut icon" href="{% static 'assets/images/logo/logo.png' %}" />
    <link href="{% static 'assets/vendors/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendors/bootstrap5/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/accounts/css/signup.css' %}">
</head>

<body>
    <div class="row vh-100 g-0">
        <div class="col-lg-6">
            <div class="row align-items-center justify-content-center h-100 g-0 px-4 px-sm-0">
                <div class="col-12 col-sm-6 col-lg-7 col-xl-6 w-100 px-4">
                    <a href="{% url 'landing_page' %}" class="d-flex justify-content-center mb-4">
                        <img src="{% static 'assets/images/logo/logo.png' %}" alt="Logotipo da EJZ Tecnologia" width="220">
                    </a>

                    <div class="text-center mb-5">
                        <h3 class="fw-bold">Criar Conta Empresarial</h3>
                        <p class="text-secondary">"Encontre os melhores talentos do mercado"</p>
                    </div>

                    <!-- Links sociais -->
                    <div class="text-center">
                        <button class="btn btn-lg btn-outline-secondary btn-outline-custom w-75 mb-3" disabled>
                            <i class="bi bi-google text-danger me-1 fs-6"></i>
                            Registro com o Google
                        </button>
                        
                        <button class="btn btn-lg btn-outline-secondary btn-outline-custom w-75" disabled>
                            <i class="bi bi-facebook text-primary me-1 fs-6 "></i>
                            Registro com o Facebook
                        </button>
                    </div>
                    <!--/ End Links sociais -->


                    <!-- Divider -->
                    <div class="position-relative">
                        <hr class="text-secondary divider">
                        <div class="divider-content-center">Ou</div>
                    </div>
                    <!--/ End Divider -->

                    <!-- Form -->
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            {% include 'partials/_alerts.html' %}
                        </div>

                        <div class="row w-100">
                            {% for field in form %}
                            <div class="col-12 col-md-6">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">
                                        <i class="bi bi-{{ field.field.widget.attrs.iconClass }}"></i>
                                    </span>
                                    {{ field }}

                                    {% if field.help_text %}
                                    <p class="text-muted w-100"> <small>{{ field.help_text }}</small> </p>
                                    {% endif %}

                                    {% if field.errors %}
                                    <div class="text-danger w-100">
                                        *{{ field.errors }}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>

                        <!-- 
                        <div class="input-group mb-3 d-flex justify-content-end">
                            <div>
                                <small><a href="">Esqueceu a senha?</a></small>
                            </div>
                        </div> 
                       -->
                       <div class="text-center">
                           <button type="submit" class="btn btn-primary btn-lg w-75 my-3">Fazer Registro</button>
                        </div>
                    </form>
                    <!--/ EndForm -->

                    <div class="text-center">
                        <small>
                            Já tem uma conta?
                            <a href="{% url 'accounts:login' %}" class="fw-bold">Faça o seu login</a>
                        </small>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 position-relative d-none d-lg-block">
            <img src="{% static 'assets/accounts/images/bg-register.jpg' %}" alt="Trabalhador Sorridente na EJZ Tecnologia"
                class="bg-holder">
        </div>

    </div>
    <script src="{% static 'assets/vendors/bootstrap5/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>