{% load static %}
<!DOCTYPE html>
<html lang="pt-pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Cadastro, Pessoal, HeadHunter">
    <meta name="description" content="Criar conta pessoal">
    <title>HeadHunter - Cadastro Pessoal </title>

    <link rel="shortcut icon" href="{% static 'assets/images/logo/logo-icon.png' %}" />
    <link href="{% static 'assets/vendors/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendors/bootstrap5/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/accounts/css/signup.css' %}">
</head>

<body>
    <div class="row vh-100 g-0">
        <div class="col-lg-6">
            <div class="row align-items-center justify-content-center h-100 g-0 px-4 px-sm-0">
                <div class="col col-sm-6 col-lg-7 col-xl-6">
                    <a href="" class="d-flex justify-content-center mb-4">
                        <img src="{% static 'assets/images/logo/logo-icon-written.png' %}" alt="Logotipo da HeadHunter" width="220">
                    </a>

                    <div class="text-center mb-5">
                        <h3 class="fw-bold">Criar Conta Pessoal</h3>
                        <p class="text-secondary">"Tenha as melhores oportunidades a sua mão"</p>
                    </div>

                    <!-- Links sociais -->
                    <button class="btn btn-lg btn-outline-secondary btn-outline-custom w-100 mb-3" disabled>
                        <i class="bi bi-google text-danger me-1 fs-6"></i>
                        Registro com o Google
                    </button>
                    <button class="btn btn-lg btn-outline-secondary btn-outline-custom w-100" disabled>
                        <i class="bi bi-facebook text-primary me-1 fs-6 "></i>
                        Registro com o Facebook
                    </button>
                    <!--/ End Links sociais -->


                    <!-- Divider -->
                    <div class="position-relative">
                        <hr class="text-secondary divider">
                        <div class="divider-content-center">Ou</div>
                    </div>
                    <!--/ End Divider -->

                    <!-- Form -->
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            {% include 'partials/_alerts.html' %}
                        </div>


                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="bi bi-person"></i></span>
                            <input type="text" name="first_name" placeholder="Primeiro Nome"
                                class="form-control form-control-lg fs-6" required>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="bi bi-person"></i></span>
                            <input type="text" name="last_name" placeholder="Sobrenome"
                                class="form-control form-control-lg fs-6" required>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="bi bi-envelope"></i></span>
                            <input type="email" name="email" placeholder="E-mail"
                                class="form-control form-control-lg fs-6" required>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="bi bi-telephone"></i></span>
                            <input type="tel" name="phone" placeholder="Telefone" class="form-control form-control-lg fs-6" required>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="bi bi-calendar2-date"></i></span>
                            <input type="date" name="birthday" placeholder="Data de nascimento" class="form-control form-control-lg fs-6" required>
                        </div>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" id="inlineRadio1" value="MASCULINO">
                            <label class="form-check-label" for="inlineRadio1">MASCULINO</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" id="inlineRadio2"
                                value="FEMININO">
                            <label class="form-check-label" for="inlineRadio2">FEMININO</label>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="bi bi-lock"></i></span>
                            <input type="password" name="password" placeholder="Palavra-passe" class="form-control form-control-lg fs-6" required>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="bi bi-lock"></i></span>
                            <input type="password" name="password_confirmation" placeholder="Confirmar Palavra-passe" class="form-control form-control-lg fs-6" required>
                        </div>


                        <!-- <div class="input-group mb-3 d-flex justify-content-end">
                            <div>
                                <small><a href="">Esqueceu a senha?</a></small>
                            </div>
                        </div> -->

                        <button type="submit" class="btn btn-primary btn-lg w-100 my-3">Fazer Registro</button>
                    </form>
                    <!--/ EndForm -->

                    <div class="text-center">
                        <small>
                            Já tem uma conta?
                            <a href="{% url 'accounts:login' %}" class="fw-bold">Faça o seu login</a>
                        </small>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 position-relative d-none d-lg-block">
            <img src="{% static 'assets/accounts/images/bg.jpg' %}" alt="Trabalhador Sorridente na HeadHunter" class="bg-holder">
        </div>

    </div>
    <script src="{% static 'assets/vendors/bootstrap5/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>