{% load static %}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">

    <li class="nav-item">
      <div class="d-flex sidebar-profile">
        <div class="sidebar-profile-image">
          <img src="{{ request.user.company_profile.image_url}}" alt="{{request.user.get_full_name}}" />
          <span class="sidebar-status-indicator"></span>
        </div>
        <div class="sidebar-profile-name">
          <p class="sidebar-name">
            {{request.user.get_full_name}}
          </p>
          <p class="sidebar-designation">
            Bem Vindo
          </p>
        </div>
      </div>
      <p class="sidebar-menu-title">Menu</p>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{% url 'business:home' %}">
        <i class="typcn typcn-device-desktop menu-icon"></i>
        <span class="menu-title">Início</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{% url 'business:vacancy-list'  %}">
        <i class="typcn typcn-device-desktop menu-icon"></i>
        <span class="menu-title">Minha Vagas</span>
      </a>
    </li>


    {% comment %} <li class="nav-item">
      <a class="nav-link" href='{% url "business:candidacy" %}'>
        <i class="typcn typcn-document-text menu-icon"></i>
        <span class="menu-title">Candidaturas</span>
      </a>
    </li> {% endcomment %}

  </ul>
</nav>