{% load static %}
<!DOCTYPE html>
<html lang="pt-ao">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="Tipo, Cadastro, Empresa, Conta Pessoal" />
    <meta name="description" content="Seleção do tipo de conta, Pessoal ou Empresarial" />
    <title>EJZ Tecnologia</title>

    <link rel="shortcut icon" href="{% static 'assets/images/logo/logo.png' %}" />
    <link href="{% static 'assets/vendors/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'assets/css/vertical-layout-light/style.css' %}" />
  </head>

  <body class="h-100">
    <header>
      <nav class="navbar navbar-expand-lg fixed-top bg-light">
        <div class="container-fluid ">
          <a class="navbar-brand" href="{% url 'landing_page' %}">
            <img src="{% static 'assets/images/logo/logo.png' %}" alt="" width="150" />
        </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse  d-flex justify-content-end" id="navbarSupportedContent">
            <a href="{% url 'accounts:login' %}" class="btn btn-outline-primary px-5">Iniciar Secção</a>
          </div>
        </div>
      </nav>
    </header>

    <section class="row" id="personal">
      <div class="col-12 col-md-6">
        <img src="{% static 'assets/accounts/images/bg.png' %}" alt="Imagem de Trabalhador" class="w-100 h-100" />
      </div>

      <div class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-center text-center p-5">
        <div>
          {% include 'partials/_alerts.html' %}
        </div>
        <h1 class="text-left">Fique atento as melhores oportunidades profissionais do mercado de trabalho</h1>
        <p class="text-left">Veja e se candidate as melhores oportunidades para si. Acompanha as vagas de sua vaga e empresa dos sonhos e se capacite para ela!</p>
        <p>
          <a href="{% url 'accounts:signup-personal' %}" class="btn btn-lg btn-outline-primary">Criar Conta</a>
        </p>
      </div>
    </section>

    <section id="business">
      <div class="molde">
        <div class="row align-items-center text-center p-5">
          <div class="col-12 col-md-6">
            <h1 class="text-left">Um processo de recrutamento fácil, inteligente e simplificado</h1>
            <p class="text-left">Tenha o melhor da tecnologia para ajuda-lo a selecionar a vaga que melhor se adequa ao seu perfil.</p>
            
          </div>
          <div class="col-12 col-md-6 align-items-center">
            <img src="{% static 'assets/accounts/images/contratacao.jpg' %}" alt="Imagem de Fundo" class="w-100 rounded" />
          </div>
        </div>

        <div class="row">
          <div class="col-12 text-center">
            <h2>"Está em uma área que deseja trabalhar é o primeiro passo para a realização profissional."</h2>
          </div>
        </div>
      </div>
    </section>

     <footer class="text-center">
        <p>
            ©2024 My Job. Todos os direitos reservados
        </p>
    </footer> 

  </body>
</html>
