{% load static %}
<div class="tab-pane fade  show active" id="pills-formation" role="tabpanel" aria-labelledby="pills-formation-tab">
    <h1>Sua Formação ajuda-nos a Saber o que você é capaz</h1>
    <div class="row justify-content-center">
        <div class="col-10 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h2>Formação Acadêmica</h2>
                    <p class="card-description">
                        Os seus dados ajudaram os recrutadores a saber mais sobre você!
                    </p>

                    <form method="post" action="{% url 'personal:add-academic-formation'%}" class="forms-sample">
                        {% csrf_token %}

                        <div class="form-group">
                            {% include 'partials/_alerts.html' %}
                        </div>
                        
                        <div class="row justify-content-end text-start">
                            {% for field in personal_academic_formation_form.visible_fields %}
                            <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                                <label for="{{ field.id_for_label }}"> {{ field.label }}</label>
                                {{ field }}

                                {% if field.help_text %}
                                <p class="text-muted"> <small>{{ field.help_text }}</small> </p>
                                {% endif %}

                                {% if field.errors %}
                                <div class="text-danger error-messages"> {{ field.errors }} </div>
                                {% endif %}
                            </div>
                            {% endfor %}

                            
                            <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                                <label for="" class="w-100" style="visibility: hidden;">Adicionar</label>
                                <button type="submit" class="btn btn-primary w-100 " id="btnAddItens">
                                    <i class="bi bi-plus"></i>
                                    Adicionar
                                </button>
                            </div>
                        </div>




                        <!-- <div class="row justify-content-end text-start">

                            <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                                <label for="center_cost">Código</label>
                                <input type="text" name="code" id="code" class="form-control">
                            </div>

                            <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                                <label for="detail">Detalhes do Material</label>
                                <textarea name="detail" id="detail" cols="30" rows="1" class="form-control"></textarea>
                            </div>


                            <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                                <label for="approximated_value">Preço</label>
                                <input type="number" name="price" id="price" class="form-control">
                            </div>

                            <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                                <label for="quantity">Quantidade</label>
                                <input type="number" name="quantity" id="quantity" class="form-control">
                            </div>



                            <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                                <label for="" class="w-100" style="visibility: hidden;">Adicionar</label>
                                <button type="submit" class="btn btn-primary w-100 " id="btnAddItens">
                                    <i class="bi bi-plus"></i>
                                    Adicionar
                                </button>
                            </div>
                        </div> -->
                    </form>

                    
                </div>
            </div>
        </div>

    </div>



</div>