{% extends 'base.html' %}
{% load static %}
{% block metas%}
<meta content="Registro" name="keywords">
<meta content="Página de Registro do ARQUIVO" name="description">
{% endblock %}


{% block title %}
Cadastrar Usuário
{% endblock %}

{% block local_style %}
{% endblock %}

{% block content %}

<div class="full-page-wrapper">
    <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
            <div class="col-lg-10 mx-auto">
                <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                    <div class="brand-logo">
                        <img src="{% static 'assets/images/logo-short.png' %}" alt="Logotipo da PCA">
                    </div>
                    <h4>Um novo usuário?</h4>
                    <h6 class="font-weight-light">Registro Fácil. Só leva alguns minutos</h6>

                    <form class="pt-3" method="post" action="{% url 'users:register-create' %}">
                        {% csrf_token %}
                        <div class="row">
                            {% for field in form %}
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label for="{{ field.id_for_label }}"> {{ field.label }}</label>
                                    {{ field }}
                                </div>

                                {% if field.help_text %}
                                    <p class="text-muted"> <small>{{ field.help_text }}</small> </p>
                                {% endif %}
                                
                                {% if field.errors %}
                                    <div class="text-danger error-messages"> {{ field.errors }} </div>
                                {% endif %}
                            </div>

                            

                            {% endfor %}
                        </div>

                        <div class="mt-3">
                            <button type="submit"
                                class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">
                                Cadastrar
                            </button>
                        </div>
                        <div class="text-center mt-4 font-weight-light">
                            Já tem uma conta? <a href="{% url 'users:login' %}" class="text-primary">Vá para Login</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
</div>
<!-- page-body-wrapper ends -->





{% endblock %}

{% block local_script %}
<script src="{% static 'assets/js/off-canvas.js' %}"></script>
<script src="{% static 'assets/js/hoverable-collapse.js' %}"></script>
<script src="{% static 'assets/js/template.js' %}"></script>
<script src="{% static 'assets/js/settings.js' %}"></script>
<script src="{% static 'assets/js/todolist.js' %}"></script>
{% endblock%}



<!-- Sign Up Start -->
<form method="post">
    {% csrf_token %}


    <div class="row">
        {% for field in form.visible_fields %}
        <div class="col-12 col-sm-12 col-md-6">
            <div class="form-floating mb-3">
                {{ field }}
                <label for="{{ field.id_for_label }}"> {{ field.label }}</label>
            </div>
        </div>
        {% for error in field.errors %}
        <div class="form-floating mb-3">
            <div class="alert alert-danger">
                {{ error }}
            </div>
        </div>
        {% endfor %}
        {% endfor %}
    </div>
    <button type="submit" class="btn btn-primary py-3 w-100 my-4">Cadastrar</button>
</form>
</div>
</div>
</div>
</div>
<!-- Sign Up End -->